### Exploração dos dados

- [ ] Issue 1

In [58]:
# Importa bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
from datetime import date

## CASOS TUBERCULOSE

In [28]:
src = "../data/processed/dados_tuberculose_uf_2001-2020.csv"

In [39]:
dados_tuberculose = pd.read_csv(src)
dados_tuberculose = dados_tuberculose.set_index("UF de notificação")
dados_tuberculose.head()

,2001-12-01,2002-12-01,2003-12-01,2004-12-01,2005-12-01,2006-12-01,2007-12-01,2008-12-01,2009-12-01,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,2019-12-01,2020-12-01
UF de notificação,,,,,,,,,,,,,,,,,,,,
11 Rondônia,662.0,636.0,648.0,623.0,628.0,518.0,544.0,563.0,665.0,575.0,686.0,694.0,720.0,690.0,660.0,779.0,773.0,693.0,735.0,608.0
12 Acre,353.0,373.0,370.0,350.0,329.0,383.0,315.0,327.0,364.0,342.0,392.0,414.0,394.0,440.0,389.0,436.0,495.0,485.0,591.0,602.0
13 Amazonas,2333.0,2271.0,2333.0,2557.0,2498.0,2442.0,2443.0,2691.0,2604.0,2750.0,2699.0,2830.0,3066.0,3127.0,3401.0,3284.0,3688.0,3777.0,3943.0,3537.0
14 Roraima,149.0,172.0,200.0,217.0,160.0,149.0,137.0,156.0,145.0,150.0,167.0,141.0,167.0,148.0,170.0,162.0,212.0,268.0,323.0,324.0
15 Pará,3447.0,3764.0,3936.0,4077.0,3992.0,3819.0,3741.0,3792.0,4091.0,4101.0,4349.0,4040.0,4131.0,3944.0,3974.0,4216.0,4524.0,4698.0,5496.0,4927.0

In [41]:
anual_tuberculose = dados_tuberculose.T
anual_tuberculose.head()

UF de notificação,11 Rondônia,12 Acre,13 Amazonas,14 Roraima,15 Pará,16 Amapá,17 Tocantins,21 Maranhão,22 Piauí,23 Ceará,...,32 Espírito Santo,33 Rio de Janeiro,35 São Paulo,41 Paraná,42 Santa Catarina,43 Rio Grande do Sul,50 Mato Grosso do Sul,51 Mato Grosso,52 Goiás,53 Distrito Federal
2001-12-01,662.0,353.0,2333.0,149.0,3447.0,216.0,280.0,2818.0,1547.0,3747.0,...,1614.0,16528.0,18649.0,3158.0,1595.0,5044.0,957.0,1359.0,1111.0,612.0
2002-12-01,636.0,373.0,2271.0,172.0,3764.0,295.0,330.0,2981.0,1471.0,4068.0,...,1596.0,16779.0,19867.0,3320.0,1851.0,5487.0,897.0,1259.0,1126.0,593.0
2003-12-01,648.0,370.0,2333.0,200.0,3936.0,274.0,275.0,2987.0,1400.0,5228.0,...,1533.0,15876.0,19204.0,3450.0,1868.0,5752.0,973.0,1230.0,1235.0,613.0
2004-12-01,623.0,350.0,2557.0,217.0,4077.0,277.0,280.0,2949.0,1576.0,4363.0,...,1528.0,15932.0,18612.0,3309.0,1855.0,5928.0,1047.0,1172.0,1093.0,626.0
2005-12-01,628.0,329.0,2498.0,160.0,3992.0,269.0,263.0,3179.0,1564.0,4695.0,...,1462.0,15268.0,17746.0,3373.0,1835.0,5644.0,1085.0,1350.0,1104.0,619.0

In [56]:
anual_tuberculose["datahora"] = pd.to_datetime(anual_tuberculose.index, format = "%Y-%m-%d")
dados_tuberculose = anual_tuberculose.T
dados_tuberculose.head()

,2001-12-01,2002-12-01,2003-12-01,2004-12-01,2005-12-01,2006-12-01,2007-12-01,2008-12-01,2009-12-01,2010-12-01,2011-12-01,2012-12-01,2013-12-01,2014-12-01,2015-12-01,2016-12-01,2017-12-01,2018-12-01,2019-12-01,2020-12-01
UF de notificação,,,,,,,,,,,,,,,,,,,,
11 Rondônia,662.0,636.0,648.0,623.0,628.0,518.0,544.0,563.0,665.0,575.0,686.0,694.0,720.0,690.0,660.0,779.0,773.0,693.0,735.0,608.0
12 Acre,353.0,373.0,370.0,350.0,329.0,383.0,315.0,327.0,364.0,342.0,392.0,414.0,394.0,440.0,389.0,436.0,495.0,485.0,591.0,602.0
13 Amazonas,2333.0,2271.0,2333.0,2557.0,2498.0,2442.0,2443.0,2691.0,2604.0,2750.0,2699.0,2830.0,3066.0,3127.0,3401.0,3284.0,3688.0,3777.0,3943.0,3537.0
14 Roraima,149.0,172.0,200.0,217.0,160.0,149.0,137.0,156.0,145.0,150.0,167.0,141.0,167.0,148.0,170.0,162.0,212.0,268.0,323.0,324.0
15 Pará,3447.0,3764.0,3936.0,4077.0,3992.0,3819.0,3741.0,3792.0,4091.0,4101.0,4349.0,4040.0,4131.0,3944.0,3974.0,4216.0,4524.0,4698.0,5496.0,4927.0

In [57]:
anual_tuberculose.head()

UF de notificação,11 Rondônia,12 Acre,13 Amazonas,14 Roraima,15 Pará,16 Amapá,17 Tocantins,21 Maranhão,22 Piauí,23 Ceará,...,33 Rio de Janeiro,35 São Paulo,41 Paraná,42 Santa Catarina,43 Rio Grande do Sul,50 Mato Grosso do Sul,51 Mato Grosso,52 Goiás,53 Distrito Federal,datahora
2001-12-01,662.0,353.0,2333.0,149.0,3447.0,216.0,280.0,2818.0,1547.0,3747.0,...,16528.0,18649.0,3158.0,1595.0,5044.0,957.0,1359.0,1111.0,612.0,2001-12-01
2002-12-01,636.0,373.0,2271.0,172.0,3764.0,295.0,330.0,2981.0,1471.0,4068.0,...,16779.0,19867.0,3320.0,1851.0,5487.0,897.0,1259.0,1126.0,593.0,2002-12-01
2003-12-01,648.0,370.0,2333.0,200.0,3936.0,274.0,275.0,2987.0,1400.0,5228.0,...,15876.0,19204.0,3450.0,1868.0,5752.0,973.0,1230.0,1235.0,613.0,2003-12-01
2004-12-01,623.0,350.0,2557.0,217.0,4077.0,277.0,280.0,2949.0,1576.0,4363.0,...,15932.0,18612.0,3309.0,1855.0,5928.0,1047.0,1172.0,1093.0,626.0,2004-12-01
2005-12-01,628.0,329.0,2498.0,160.0,3992.0,269.0,263.0,3179.0,1564.0,4695.0,...,15268.0,17746.0,3373.0,1835.0,5644.0,1085.0,1350.0,1104.0,619.0,2005-12-01